# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/
ENV/

# Python distribution
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# Logs
*.log